<html lang="en"></html>
    <head>
        <meta charset="utf-8"/>
        <title>{{title}}</title>
        <link rel="stylesheet" href="../../public/css/styles.css"/>
    </head>

    <body>
        <header>
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/entries">Entries</a></li>
                </ul>
            </nav>
        </header>

        <main>
            {{{body}}}
        </main>
    </body>
</html>